%h1 Imports controller, new action

= error_messages_for @import

= form_for(@import, :action => url(:imports) ) do    
  
  %p  
    %label Path:       
    = @path
    = hidden_field :path, :value => ""
  %p
    = submit "Start"

= link_to 'Back', url(:imports)