%h1 Imports controller, new action

= error_messages_for @import

= form_for(@import, :action => url(:imports) ) do    
  - if @paths 
    %p  
      %label Path:       
      = select :path, :collection => @paths.collect {|p| [ p, File.basename(p) ] }  

  %p
    = submit "Start"

= link_to 'Back', url(:imports)