%tr 
  %th{ :colspan => "3"} 
    Barbettes  
    %span.info 
      = "&ndash; Available Hardpoints: #{@ship.available_hardpoints}"

- @ship.barbettes.each do |barbette|  
  %tr
    %td 
      %label 
        = barbette.weapon.name.pluralize
      = barbette.number
    %td.tonnage
      = commify(barbette.number * 5)
      Tons
    %td
      = link_to "delete", url(:delete_barbette, barbette), :class => 'delete'