%tr 
  %th{ :colspan => "3"}   
    Bays
    %span.info 
      = "&ndash; Available Bays: #{@ship.available_bays}"
      
- @ship.bays.each do |bay|  
  %tr
    %td 
      %label 
        = bay.weapon.name.pluralize
      = bay.number
      &ndash;
      - bay_label = bay.size == 50 ? 'Small':'Large' 
      - bay_size = bay.number == 1 ? 'Bay':'Bays'
      = "#{bay_label} #{bay_size} (#{bay.size} Ton)" 

    %td.tonnage
      = commify(bay.number * bay.size.to_i)
      Tons
    %td
      = link_to "delete", url(:delete_bay, bay), :class => 'delete', :method => 'delete'
