.left.wide
  - if !message[:error].nil?
    .error
      = message[:error]
  = error_messages_for @ship
  #shipInfo
    %p
      %label Class Name
      = text_field :name, :class => 'trigger title'
  .wide.left.first
    %p
      %label Description
      = text_area :description, :class => 'trigger'
  
  #weapons.narrow.right.last
    %h2 Weapons Systems    
    = partial :weapons_form, :format => :html, :weapon_type => 'bay'
    = partial :weapons_form, :format => :html, :weapon_type => 'barbette'
    = partial :weapons_form, :format => :html, :weapon_type => 'turret'
  .narrow.left.first
    %h2 Drives and Power
  .verynarrow.left.first
    %p
      %label Tech Level
      %select.trigger{ :name => "ship[tech_level]" }
        = tech_level_select
    %p
      %label{ :for => 'ship_configuration' } Configuration:
      = select :configuration_id, :collection => Configuration.all.collect {|c| [ c.id, c.name ] }, :class => 'trigger'
    %p
      %label Tonnage
      = text_field :tonnage, :class => 'trigger'
  
  - unless @ship.new_record?
    #drives.verynarrow.left.last
      %p
        %label Power
        %select.trigger{ :name => "ship[power]" }
          = power_select(8)
      %p
        %label{ :for => 'ship_jumpdrive' } Jump Drive
        %select.trigger{ :name => "ship[jumpdrive]" }
          = drive_select('jumpdrive')
      %p    
        %label Maneuver Drive
        %select.trigger{ :name => "ship[thrust]", :class => "input"}
          = drive_select('thrust')
    .verynarrow.left.first
      %p
        %label Armor Type
        %select.trigger{ :name => "ship[armor_id]" }
          = armor_select(@ship.tech_level)
    .verynarrow.left.last
      %p
        %label Armor Rating
        %select.trigger{ :name => "ship[armor_rating]" }
          = armor_rating_select(@ship.tech_level)
            
    #command.narrow.left.first
      %h2 Command and Electronics
      %p
        %label{ :for => 'ship_configuration' } Computer:
        %select.trigger{ :name => "ship[computer_id]" }
          = computer_select
        / = select :computer_id, :collection => Computer.all.collect {|c| [ c.id, c.name ] }, :class => 'trigger'
    #crew.verynarrow.left
      %h2 Crew
      %p 
        Command Crew
        = @ship.command_crew
        %br
        Engineering Crew
        = @ship.engineering_crew
        %br
        Gunnery Crew
        = @ship.gunnery_crew
        %br
        Service Crew
        = @ship.service_crew
    #staterooms.verynarrow.left.last
      %h2 Staterooms
      %p
        %label Staterooms
        = text_field :staterooms, :class => 'trigger'
      %p
        %label Troops
        = text_field :troops, :class => 'trigger'

.narrow.right.last
  %h2
    = @ship.name 
    Summary
  %table{ :cellspacing => "0" }
    = partial :ship, :format => :html



    




      

