%table#info{ :cellspacing => '0' }
  %tr 
    %th{ :colspan => "3"}   
      Class Name and Information
  %tr
    %td{ :colspan => "3" }
      %label Class Name:
      = text_field :name, :class => 'trigger'
  %tr
    %td{ :colspan => '3' }
      %label Description
      =# text_area :description
  %tr
    %td{ :colspan => "3" }
      %label Tech Level
      %select.trigger{ :name => "ship[tech_level]" }
        = tech_level_select
  %tr
    %td{ :colspan => "3" }
      %label{ :for => 'ship_configuration' } Configuration:
      = select :configuration_id, :collection => @configurations.collect {|c| [ c.id, c.name ] }, :class => 'trigger'
      %span.note
        = "Modifier: #{@ship.configuration.modifier * 100}%" unless @ship.new_record?
  %tr
    %td
      %label Tonnage:
      = text_field :tonnage, :class => 'trigger'
    %td.tonnage
    = commify(@ship.tonnage)
    Tons
  %td.price
    %span MCr
    = commify(@ship.hull_price) unless @ship.new_record?
      
- unless @ship.new_record?
  %table#drives{ :cellspacing => "0" }
    %tr 
      %th{ :colspan => "3"}   
        Drives and Power
    %tr
      %td
        %label Power
        %select.trigger{ :name => "ship[power]" }
          = power_select(8)
      %td.tonnage
        = commify(@ship.powerplant_tonnage)
        Tons
      %td.price
        %span MCr
        = commify(@ship.powerplant_price)
    %tr
      %td
        %label{ :for => 'ship_jumpdrive' } Jump Drive:
        %select.trigger{ :name => "ship[jumpdrive]" }
          = drive_select('jumpdrive')
      %td.tonnage
        = commify(@ship.jump_tonnage)
        Tons
      %td.price
        %span MCr
        = commify(@ship.jump_price)
    %tr    
      %td
        %label Maneuver Drive:
        %select.trigger{ :name => "ship[thrust]", :class => "input"}
          = drive_select('thrust')
      %td.tonnage
        = commify(@ship.thrust_tonnage)
        Tons
      %td.price
        %span MCr
        = commify(@ship.thrust_price)
    
      %tr 
        %th{ :colspan => "3"}   
          Fuel Storage and Processing
      
      %tr
        %td
          %label
            %strong Total Fuel:
          Jump:
          = commify(@ship.jump_fuel)
          Powerplant:
          = commify(@ship.powerplant_fuel)
        
        %td.tonnage
          %strong 
            = commify(@ship.fuel)
            Tons
        %td
  %table#command{ :cellspacing => "0" } 
    %tr 
      %th{ :colspan => "3"}   
        Command and Electronics
    %tr
      %td
        %label Bridge
      
      %td.tonnage
        = commify(@ship.bridge)
        Tons
      %td.price
        =# @ship.stateroom_price
        
  %table#weapons{ :cellspacing => "0" } 
    %tr 
      %th{ :colspan => "3"}   
        Weapons Systems
    %tr 
      %td 
        %label Hardpoints
      %td
        = @ship.hardpoints
      %td
    
    = partial :bays, :format => :html
    - unless @ship.available_bays <= 0
      = partial :weapons_form, :format => :html, :weapon_type => 'bay'
  
    = partial :barbettes, :format => :html
    - unless @ship.available_hardpoints <= 0
      = partial :weapons_form, :format => :html, :weapon_type => 'barbette'
  
    = partial :turrets, :format => :html
    - unless @ship.available_hardpoints <= 0 
      = partial :weapons_form, :format => :html, :weapon_type => 'turret'
  
    %tr 
      %th{ :colspan => "3"}   
        Ammunition
        
  %table#crew{ :cellspacing => "0" } 
    %tr 
      %th{ :colspan => "3"}   
        Crew and Accommodations
  
    %tr
      %td
        %label Staterooms
        = text_field :staterooms, :class => 'trigger'
      %td.tonnage
        = commify(@ship.stateroom_tonnage)
        Tons
      %td.price
        =# @ship.stateroom_price
        
  %table#total{ :cellspacing => "0" } 
    %tr 
      %th{ :colspan => "3"}   
        Totals
    %tr 
      %td 
        %label Total
      %td.tonnage
        = commify(@ship.subtotal_tonnage)
        Tons
      %td
    %tr 
      %td 
        %label Remaining
      %td.tonnage
        = commify(@ship.tonnage - @ship.subtotal_tonnage)
        Tons
      %td   
