%tr
  %td.label Tech Level:
  %td.info{ :colspan => "3" }
    %strong
      = @ship.tech_level
%tr
  %td.label 
    Configuration:
  %td.info{ :colspan => "3" }
    %strong
      = @ship.configuration.name
%tr 
  %td.label Energy Points
  %td.info{ :colspan => "3" }
    %strong
      = commify(@ship.ep)
    
%tr
  %td{ :colspan => "4" }
    &nbsp;        
    
%tr
  %td.label Tonnage:
  %td
  %td.tonnage
    = commify(@ship.tonnage)
    Tons
  %td.price
    %span MCr
    = commify(@ship.hull_price) unless @ship.new_record?

- if @ship.armor  
  %tr
    %td.label= "#{@ship.armor.name} Armor:"
    %td.info= commify(@ship.armor_rating)
    %td.tonnage
      = commify(@ship.armor_tonnage)
      Tons
    %td.price
      %span MCr
      = commify(@ship.armor_price) 

- unless @ship.new_record?
  %tr
    %td.label Power:
    %td.info= @ship.power
    %td.tonnage
      = commify(@ship.powerplant_tonnage)
      Tons
    %td.price
      %span MCr
      = commify(@ship.powerplant_price)
  %tr
    %td.label Jump Drive:
    %td.info= @ship.jumpdrive
    %td.tonnage
      = commify(@ship.jump_tonnage)
      Tons
    %td.price
      %span MCr
      = commify(@ship.jump_price)
  %tr    
    %td.label Manuever Drive:
    %td.info= @ship.thrust
    %td.tonnage
      = commify(@ship.thrust_tonnage)
      Tons
    %td.price
      %span MCr
      = commify(@ship.thrust_price)
    
  %tr
    %td.label Bridge:
    %td.info
    %td.tonnage
      = commify(@ship.bridge)
      Tons
    %td.price
      = commify(@ship.bridge_price)
  %tr
    %td.label Computer:
    %td.info= @ship.computer.name
    %td.tonnage
    %td.price
      = commify(@ship.computer.price)
  %tr
    %td{ :colspan => "4" }
      &nbsp;
  %tr
    %td.label Hardpoints:
    %td.info{ :colspan => "3" }
      = @ship.hardpoints
      total
      = '/'
      = @ship.available_hardpoints
      available
  %tr
    %td.label Firecontrol:
    %td.info
    %td.tonnage
      = commify(@ship.fire_control)
      Tons
    %td.price
              
  = partial :show_weapon, :format => :html, :weapon_type => 'bays', :ship => @ship
  = partial :show_weapon, :format => :html, :weapon_type => 'barbettes', :ship => @ship
  = partial :show_weapon, :format => :html, :weapon_type => 'turrets', :ship => @ship

  %tr
    %td{ :colspan => "4" }
      &nbsp;
  %tr
    %td.label Staterooms:
    %td.info= @ship.staterooms
    %td.tonnage
      = commify(@ship.stateroom_tonnage)
      Tons
    %td.price
      = commify(@ship.stateroom_price)
  %tr
    %td{ :colspan => "4" }
      &nbsp;
      
  %tr
    %td.label Jump Fuel:
    %td.info
    %td.tonnage
      = commify(@ship.jump_fuel)
      Tons
    %td
  %tr
    %td.label Powerplant Fuel:
    %td.info
    %td.tonnage
      = commify(@ship.powerplant_fuel)
      Tons
    %td
  %tr
    %td.label
      %strong Total Fuel:
    %td.info
    %td.tonnage
      %strong 
        = commify(@ship.fuel)
        Tons
    %td      

  %tr 
    %td.label 
      %strong Total
    %td.info
    %td.tonnage
      %strong 
        = commify(@ship.subtotal_tonnage)
        Tons
    %td.price
      %strong 
        %span MCr
        = commify(@ship.total_price)
        
  %tr 
    %td.label{ :colspan => "2" }
      %strong Remaining (Cargo)
    %td.tonnage
      %strong 
        = commify(remaining_tonnage(@ship.cargo))
        Tons
    %td.price

        