- if !ship.send(weapon_type).empty?
  %tr
    %td{ :colspan => "4" }
      %strong
        = weapon_type.capitalize
    
- ship.send(weapon_type).each do |weapon|
  %tr
    %td.label 
      = weapon.name.pluralize
    %td.info
      = weapon.number
    %td.tonnage
      = weapon.tonnage
      Tons
    %td.price
      - delete_link = ("delete_#{weapon_type.singularize}").to_sym
      = link_to "delete", url(delete_link, weapon), :class => 'delete', :method => 'delete'