- if !@ship.send(weapon_type).empty?
  %h2
    = weapon_type.capitalize
    
- @ship.send(weapon_type).each do |weapon|
  %p
    %span.label 
      = weapon.name.pluralize
    %span.info
      = weapon.number
    %span.tonnage
      = weapon.tonnage
      Tons
    %span.price
    %span
      - delete_link = ("delete_#{weapon_type.singularize}").to_sym
      = link_to "delete", url(delete_link, weapon), :class => 'delete', :method => 'delete'