// %h1= @ship.name
  
#navigation
  = link_to 'Show', url(:ship, @ship)
  |
  = link_to 'Index', url(:ships)

= error_messages_for @ship

#info
  = form_for(@ship, :action => url(:ship, @ship)) do
    = partial :form
    %p
      %label &nbsp;
      = submit "Update"

#ship
  %table{ :cellspacing => "0" } 
    = partial :ship
    
// = link_to 'Show', url(:ship, @ship)
// |
/  = link_to 'Back', url(:ships)

.clear