%h1
  Ships controller, edit action
  
= error_messages_for @ship

%ul.tabNavigation
  %li
    %a{ :href => "#info" }
      Info
  %li
    %a{ :href => "#drives" }
      Drives
  %li
    %a{ :href => "#command" }
      Command

#ship 
  #target
    = form_for(@ship, :action => url(:ship, @ship)) do
      = partial :form
      %table{ :cellspacing => "0" }
        %tr
          %td
            %label &nbsp;
            = submit "Update"
    
= link_to 'Show', url(:ship, @ship)
|
= link_to 'Back', url(:ships)