// %h1= @ship.name
  
#tabNavigation
  %a{ :href => "#info" }
    Info
  |
  %a{ :href => "#drives" }
    Drives
  |
  %a{ :href => "#command" }
    Command
  | 
  %a{ :href => "#weapons" }
    Weapons
  | 
  %a{ :href => "#crew" }
    Crew

= error_messages_for @ship

#info
  = form_for(@ship, :action => url(:ship, @ship)) do
    = partial :form
    %p
      %label &nbsp;
      = submit "Update"

#ship
  %table{ :cellspacing => "0" } 
    = partial :ship
    
// = link_to 'Show', url(:ship, @ship)
// |
/  = link_to 'Back', url(:ships)

.clear