%h1 New Ship
#nav
  = link_to 'Back', url(:ships)

  = error_messages_for @ship

  = form_for(@ship, :action => url(:ships) ) do
    %table
      = partial :form
      %tr
        %td
          %label &nbsp;
          = submit "Create"