%h1= @ship.name
  
%table
  %tr
    %td{ :colspan => "3" }
      %label Class Name:
      = @ship.name
  %tr
    %td{ :colspan => '3' }
      %label Description
      =# text_area :description
  %tr
    %td{ :colspan => "3" }
      %label Tech Level
      = @ship.tech_level
  %tr
    %td{ :colspan => "3" }
      %label{ :for => 'ship_configuration' } Configuration:
      = @ship.configuration
  %tr
    %td
      %label Tonnage:
      = commify(@ship.tonnage)
      Tons
    %td.price
      %span MCr
      = commify(@ship.hull_price) unless @ship.new_record?

  - unless @ship.new_record?
    %tr
      %td
        %label Power
        = @ship.power
      %td.tonnage
        = commify(@ship.powerplant_tonnage)
        Tons
      %td.price
        %span MCr
        = commify(@ship.powerplant_price)
    %tr
      %td
        %label{ :for => 'ship_jumpdrive' } Jump Drive:
        = @ship.jumpdrive
      %td.tonnage
        = commify(@ship.jump_tonnage)
        Tons
      %td.price
        %span MCr
        = commify(@ship.jump_price)
    %tr    
      %td
        %label Maneuver Drive:
        = @ship.thrust
      %td.tonnage
        = commify(@ship.thrust_tonnage)
        Tons
      %td.price
        %span MCr
        = commify(@ship.thrust_price)

      %tr
        %td
          %label Jump Fuel:
        %td.tonnage
          = commify(@ship.jump_fuel)
          Tons
        %td
      %tr
        %td
          %label Powerplant Fuel:
        %td.tonnage
          = commify(@ship.powerplant_fuel)
          Tons
        %td
      %tr
        %td
          %label
            %strong Total Fuel:
        %td.tonnage
          %strong 
            = commify(@ship.fuel)
            Tons
        %td
    %tr
      %td
        %label Bridge

      %td.tonnage
        = commify(@ship.bridge)
        Tons
      %td.price
        =# @ship.stateroom_price

    %tr 
      %td 
        %label Hardpoints
      %td
        = @ship.hardpoints
      %td    


    %tr
      %td
        %label Staterooms
        = @ship.staterooms
      %td.tonnage
        = commify(@ship.stateroom_tonnage)
        Tons
      %td.price
        =# @ship.stateroom_price

    %tr 
      %td 
        %label Total
      %td.tonnage
        = commify(@ship.subtotal_tonnage)
        Tons
      %td



= link_to 'Edit',  url(:edit_ship,  @ship)
|
= link_to 'Back', url(:ships)